#parent {
    position: relative;
    width: 480px;
    height: 320px;
    margin: 0 auto;
}
#mycanvas { 
    position: absolute;
    width: 480px;
    height: 320px;
    background: #eee; 
    display: block;  
}
#myfilter {
    position: absolute;  
    background-color: #000000;
    opacity: 0.5;
    width: 480px;
    height: 320px;
    display: none;
}
#myscore {
    position: absolute;
    background-color: #cfcfcf;
    top: 140px; 
    width: 480px;
    height: 60px;
    display: none;
}
.name {
    text-align: center;
    font-size: 28px;
    position: relative;
    padding: 0.35em 0.5em;
    background: #b6e9ff;
    color: #393939;
}
.description {
    font-size: 18px;
    padding: 15px 0;
}
div { 
    text-align : center ;
}