.nav {
    display: table;
    width: 100%;
    background: #FFF;
}
.item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.item a {
    display: block;
    padding: 15px 0;
    color: #666;
    text-decoration: none;
}

.name {
    font-size: 28px;
    position: relative;
    padding: 0.35em 0.5em;
    background: #b6e9ff;
    color: #393939;
    width: 80%;
}
.description {
    font-size: 18px;
    width: 90%;
}